<h1>About Us</h1>
<p align="center"> <img src="./images/gedung.jpg" alt="Gedung UMDP" > </p>
<br>
    <div class="container text-center">
  <div class="row">
    <div class="col">
      <img src="./images/Sejarah.png" alt="Sejarah MDP" >
    </div>
    <div class="col">
      <img src="./images/VisiDanMisi.png" alt="Visi Dan Misi MDP">
    </div>
  </div>